
/* Global styles */
/* Set default font for the entire website */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebebeb;
}

/* Icon spacing */
.fa-solid {
    padding: 0 1rem;
}

/* Header styles */
header {
    z-index: 1;
    display: grid;
    font-size: 1.5rem;
    font-weight: 600;
}

    /* Navigation bar within header */
    header nav {
        z-index: 1;
        display: flex;
        justify-content: center;
        position: relative;
        color: #fff;
        background-color: #6D99C1;
        padding: 1rem;
    }

        header nav div {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 800px;
        }

            header nav div input {
                display: none;
            }

    /* Central headline section within header */
    header section {
        display: flex;
        padding: 1rem;
        justify-content: center;
        background-color: #ebebeb;
    }

#kategori-nyhet {
    text-align: center;
    background-color: #ebebeb;
}

#kategori-arctic-stride {
    text-align: center;
    background-color: #ebebeb;
}

/* Styling for news section */
.nyhet section {
    text-align: center;
    color: #000;
    background-color: #ebebeb;
}

    /* Paragraph text alignment within news section */
    .nyhet section p {
        text-align: center;
    }

    /* Color settings for paragraphs within news section */
    .nyhet p {
        color: #000;
    }
.product-section section {
    text-align: center;
    color: #000;
    background-color: #ebebeb;
}

    /* Paragraph text alignment within news section */
    .product-section section p {
        text-align: center;
    }

    /* Color settings for paragraphs within news section */
    .product-section p {
        color: #000;
    }

/* Logo styling */
#logo {
    text-decoration: none;
    color: #fff;
}

#sidebar {
    display: none;
    position: absolute;
}

/* Navbar hidden by default (for mobile view) */
.navbar {
    display: none;
}

/* Responsive navbar styles for mobile view */
.responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #6C6C6C;
    margin: 0;
    padding: 0;
    top: 60px;
    width: 100%;
    list-style: none;
}

    /* Link styles within responsive navbar */
    .responsive a {
        color: #fff;
        display: inline-block;
        padding: 1rem;
        text-decoration: none;
    }

/* Main content area */
main {
    display: grid;
    position: relative;
}

    main section {
        text-align: center;
    }

        /* Image scaling within the main section */
        main section img {
            width: 100%;
        }

#pricetag{
    display: flex;
    width: 100%;
    background-color: #6D99C1;
    color: #fff;
    align-items: center;
    justify-content: space-around;
}

    #pricetag p {
        display: flex;
        color: #fff;
        font-size: 2rem;
        font-weight: 600;
    }

    #pricetag a {
        display: flex;
        font-size: 2rem;
        text-decoration: none;
        color: #fff;
    }

.title-section {
    background-color: #ebebeb;
}

    .title-section h1 {
        font-weight: 600;
    }

/* Flex section styling */
.flex-section {
    background-color: #6D99C1;
    color: #fff;
}

    /* Inner sections within flex sections */
    .flex-section section {
        padding: 1rem 1rem 1rem 0;
    }

.women {
    background-color: #ebebeb;
    color: #000;
}

/* Footer area */
footer {
    display: grid;
}

/* Service section styling */
#services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #fff;
    background-color: #6C6C6C;
    padding: 1rem;
    justify-content: space-around;
}

    /* Service section header */
    #services h2 {
        width: 100%;
        text-align: center;
    }

    /* Individual articles within services section */
    #services article {
        max-width: 300px;
        width: 100%;
        min-width: 200px;
    }

/* Media queries for screen widths above 600px */
@media only screen and (min-width: 600px) {

    header {
        margin-left: 12rem;
    }

        header nav {
            border-bottom: 1px solid #000;
        }

            header nav div input {
                display: flex;
                border-radius: 50px;
                margin-right: 1rem;
            }

    main {
        margin-left: 12rem;
    }

    #sidebar {
        width: 12rem;
        display: flex;
        color: #fff;
        background-color: #6D99C1;
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 20px;
        font-weight: 600;
        font-size: 1.5rem;
        border-right: 1px solid #000;
    }

        #sidebar ul {
        list-style: none;
        }

            #sidebar li {
            padding: 1rem;
            }

                #sidebar li a {
                    color: #fff;
                    text-decoration: none;
                }

    #pricetag {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    #pricetag a {
        padding-left: 5rem;
        font-size: 3rem;
        text-decoration: none;
    }

    .flex-section img {
        width: 40%;
    }

    .product-section a img {
        margin-top: 1rem;
    }

    .responsive {
        background-color: #6D99C1;
        width: 20%;
        text-align: left;
    }

    footer {
        margin-left: 12rem;
        height: 100%;
    }
    
}
